{% extends 'insta/base.html' %} {% load static %} {% block content %}
<main id="main">
  <div id="user">
    <!--===================== PROFILE SECTION ========================-->
    <div class="container user">
      <div class="row">
        <div class="col-lg-3 my-auto">
          <img src="{{ request.user.profile.profile_img.url }}" alt="" />
        </div>
        <div class="col">
          <div>
            <span
              >{{ profile.user }}
              <i class="bi bi-check-circle-fill mx-3 text-primary"></i
            ></span>
            <button class="btn btn-primary">Follow</button>
            <button class="btn btn-dark mx-1">Message</button>
            <button class="btn btn-dark">
              <i class="bi bi-person-fill-add"></i>
            </button>
            <span><i class="bi bi-three-dots mx-1"></i></span>
          </div>
          <div class="my-3 about">
            <span>625 posts</span>
            <span class="mx-4">1.5M followers</span>
            <span>996 following</span>
          </div>
          <p>{{ request.user.username }} Lastname</p>
          <p class="about">
            Lifestyle | Fashion | Entertainment <br />
            EnquiriesNeoakpofure@gmail.com <br />
            Twitter - @NeoAkpofure <br />
            All social links 👇👇👇<br />
          </p>
        </div>
      </div>
    </div>
    <hr />

    <!---- ========================= POSTS SECTION ====================== -->
    <div class="container">
      <div class="row row-cols-3">
        {% for post in posts %}
        <div class="col pt-5">
          <img class="img_url" src="{{ post.image.url }}" alt="" />
          <div class="my-3 post">
            <div class="icon-wrapper">
              <i class="bi bi-heart mx-2"></i>
              <i class="bi bi-chat-left chat-icon"></i>
            </div>
            <div class="comment-section hidden">
              <div class="comments">
                <div class="comment">
                  <a href=""><i>{{ post.user }}</i></a>
                  <p>{{ post.title }}</p>
                </div>
                {% for comment in post.comment.all %}
                <div class="comment">
                  <a href="{% url 'profile' comment.posted_by.id %}"
                    ><i>{{ comment.posted_by }}</i>
                  </a>
                  <p>{{ comment.body }}</p>
                </div>
                {% endfor %}
              </div>

              <div class="comment-input">
                <input
                  type="hidden"
                  name="csrfmiddlewaretoken"
                  value="{{ csrf_token }}"
                />

                {{ comment_form.body }}
                <input
                  type="hidden"
                  class="userIdInput"
                  name="username"
                  ,
                  value="{{ request.user.id }}"
                />
                <input
                  type="hidden"
                  class="username"
                  name="username"
                  ,
                  value="{{ request.user }}"
                />
                <input type="hidden" class="post_id" , value="{{ post.id }}" />
                <button class="postComment">Post</button>
              </div>
            </div>

            <p>{{ post.title|truncatewords:8 }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
