{% extends 'users/register.html' %} {% load static %} {% block content %}
<div class="container-fluid text-center">
  <div class="row">
    <div class="col img">
      <img src="{% static 'assets/img/login-img.png' %}" alt="" />
    </div>
    <div class="col">
      <div class="log1">
        <h1>Instagram</h1>
        <form action="" method="POST" class="form-group">
          {% load widget_tweaks %} {% csrf_token %}
          <!-- username -->
          {{ form.username |add_class:"form-control my-1"|attr:"placeholder:Username" }}
          <!-- pass -->
          {{ form.password |add_class:'form-control my-2'|attr:"placeholder:Password" }}
          <button type="submit" class="btn btn-primary my-3">Log in</button>
        </form>
        <p>OR</p>

        <h6 class="my-2">
          <i class="bi bi-facebook mx-2"></i> Log in with Facebook
        </h6>

        <p class="forgot my-3">Forgot password?</p>
      </div>
      <div class="log2">
        <div class="cols">
          <p class="item1">
            Don't have an account?<span class="mx-1"><a href="{% url 'register' %}" class="item2">Sign up</a></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}