{% extends 'users/register.html' %} {% load static %} {% block content %}
<form action="" method="POST" class="form login">
  {% load widget_tweaks %} {% csrf_token %}
  <!-- username -->
  <div class="form__field">
    <label for="id_username">
      <i class="bi bi-person-fill icon"></i>
      <span class="hidden">Username</span></label>
    {{ form.username |add_class:"form__input"|attr:"placeholder:Username" }}
  </div>

  <div class="form__field">
    <label for="id_password">
      <i class="bi bi-lock-fill icon"></i><span class="hidden">Password</span></label>
    {{ form.password |add_class:"form__input"|attr:"placeholder:Password" }}
  </div>

  <div class="form__field">
    <input type="submit" value="Sign In" />
  </div>
</form>

<p class="text--center">
  Need an account? <a href="{% url 'register' %}">Sign up now</a>
  <i class="bi bi-arrow-right-square-fill"></i>
</p>
{% endblock %}