{% extends 'users/register.html' %}{% load static %} {% block content %}
<div class="login" style="height: 480px;">
  <h1><img src="{% static 'assets/img/lock_logo.png' %}" width="100px" height="100px"></h1>

  <p><b>Trouble logging in ?</b></p>
  <div class="forgotwrapper">
    <div class="forgot">
      <p>Enter your email, phone, or username and we'll send you a link to get back into your account.</p>
    </div>
  </div>


  <form action="" method="POST">
    {% load widget_tweaks %} {% csrf_token %}
    {{ form.email |attr:"placeholder:Email, Phone, or Username" }}
    <input type="submit" value="Send login link" /><br>
  </form>

  <div class="divider"><b>OR</b></div>
  <div class="fbwrapper">
    <div class="fb"><a href="{% url 'register' %}"> Create new account</a></div>
  </div>
</div>
<div class="infobox">
  <p><a href="{% url 'login' %}">Back to login</a></p>
</div>
{% endblock %}