{% extends 'users/register.html' %}{% load static %} {% block content %}
<div class="login" style="height: 250px;">
    <div class="forgotwrapper">
        <div class="forgot">
            <p>Reset your password.</p>
        </div>
    </div>

    {% if validlink %}
    <form action="" method="POST">
        {% load widget_tweaks %} {% csrf_token %}
        {{ form.new_password1 |attr:"placeholder:New Password" }}
        {{ form.new_password2 |attr:"placeholder:Confirm New Password" }}
        <input type="submit" value="Reset password" /><br>
    </form>
    {% else %}
    <div class="forgotwrapper">
        <div class="forgot">
            <h4>Invalid reset link.</h4>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}