{% extends 'insta/base.html' %} {% load static %} {% block content %}
<!-- side header -->
<div id="side-header">
  <div class="d-flex flex-column">
    <!-- {% static 'assets/img/profile-img.jpg' %} -->
    <ul class="suggest-entry list-unstyled">
      <li>
        <div class="d-flex align-items-center my-4">
          <img src="#" alt="" class="img-fluid me-3" />
          <div class="suggest">
            <div class="post-meta d-block suggest-bold">
              <a href="{% url 'profile' request.user.id %}" class="date"
                >{{ request.user }}</a
              >
            </div>
            <span>Anthony Ifeanyi</span>
          </div>
          <a href="#" class="mx-4">Switch</a>
        </div>
      </li>
      <li>
        <div class="d-flex align-items-center my-4">
          <div class="suggested mx-4">
            <span>Suggested for you</span>
          </div>
          <a href="#" class="mx-4">See All</a>
        </div>
      </li>
      {% for user in users %} {% if user.user != request.user %}
      <li>
        <div class="d-flex align-items-center my-3">
          <img src="" alt="" class="img-fluid me-3" />
          <div class="suggest">
            <div class="post-meta d-block suggest-bold">
              <a href="{% url 'profile' user.id %}"
                ><span id="test" class="date">{{ user.user }}</span></a
              >
            </div>
            <span>Suggested {{request.user}}</span>
          </div>
          <a href="#" class="mx-4">Follow</a>
        </div>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </div>
</div>
<!-- END SIDEBAR -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about col-lg-6">
    {% for post in posts %}
    <div class="container my-5">
      <div class="profile my-3">
        <img src="{{ post.user.profile.profile_img.url }}" alt="" />
        <a href="{% url 'post_user' post.id %}">{{ post.user.username }}</a>
        . 2h
      </div>
      <div class="container-fliud post-img">
        <img src="{{ post.image.url}}" alt="" />
      </div>
      <div class="my-3 post">
        <div class="icon-wrapper">
          <i class="bi bi-heart mx-2"></i>
          <i class="bi bi-chat-left chat-icon"></i>
        </div>
        <div class="comment-section hidden">
          <div class="comments">
            {% for comment in post.comment.all %}
            <div class="comment">
              <a href="{% url 'profile' comment.posted_by.id %}"
                >{{ comment.posted_by }}
              </a>
              <p>{{ comment.body }}</p>
            </div>
            {% endfor %}
          </div>
          <div class="comment-input">
            <input
              type="text"
              class="commentText"
              placeholder="Add a comment..."
            />
            <button class="postComment">Post</button>
          </div>
        </div>

        <p>{{ post.caption|truncatewords:8 }}</p>
      </div>
    </div>
    {% endfor %}
  </section>
  <!-- End About Section -->
</main>

{% endblock %}
