{% extends 'insta/base.html' %} {% load static %} {% block content %}
<!-- side header -->
<div id="side-header">
  <div class="d-flex flex-column">
    <!-- {% static 'assets/img/profile-img.jpg' %} -->
    <ul class="suggest-entry list-unstyled">
      <li>
        <div class="d-flex align-items-center my-4">
          <img src="#" alt="" class="img-fluid me-3" />
          <div class="suggest">
            <div class="post-meta d-block suggest-bold">
              <a href="{% url 'profile' %}" class="date">__cipher__</a>
            </div>
            <span>Anthony Ifeanyi</span>
          </div>
          <a href="#" class="mx-4">Switch</a>
        </div>
      </li>
      <li>
        <div class="d-flex align-items-center my-4">
          <div class="suggested mx-4">
            <span>Suggested for you</span>
          </div>
          <a href="#" class="mx-4">See All</a>
        </div>
      </li>
      <li>
        <div class="d-flex align-items-center my-3">
          <img src="" alt="" class="img-fluid me-3" />
          <div class="suggest">
            <div class="post-meta d-block suggest-bold">
              <span class="date">mascunet</span>
            </div>
            <span>Suggested for you</span>
          </div>
          <a href="#" class="mx-4">Follow</a>
        </div>
      </li>

      <li>
        <div class="d-flex align-items-center my-3">
          <img src="" alt="" class="img-fluid me-3" />
          <div class="suggest">
            <div class="post-meta d-block suggest-bold">
              <span class="date">lani_boy</span>
            </div>
            <span>Suggested for you</span>
          </div>
          <a href="#" class="mx-4">Follow</a>
        </div>
      </li>

      <li>
        <div class="d-flex align-items-center my-3">
          <img src="" alt="" class="img-fluid me-3" />
          <div class="suggest">
            <div class="post-meta d-block suggest-bold">
              <span class="date">Xom_crusiers</span>
            </div>
            <span>Suggested for you</span>
          </div>
          <a href="#" class="mx-4">Follow</a>
        </div>
      </li>

      <li>
        <div class="d-flex align-items-center my-3">
          <img src="" alt="" class="img-fluid me-3" />
          <div class="suggest">
            <div class="post-meta d-block suggest-bold">
              <span class="date">natta_nille</span>
            </div>
            <span>Suggested for you</span>
          </div>
          <a href="#" class="mx-4">Follow</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- END SIDEBAR -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about col-lg-6">
    {% for post in posts %}
    <div class="container my-5">
      <div class="profile my-3">
        <img src="{{ post.user.profile.profile_img.url }}" alt="" />
        <a href="#">{{ post.user.username }}</a> . 2h
      </div>
      <div class="container-fliud post">
        <img src="{{ post.image.url}}" alt="" />
      </div>
      <div class="my-3">
        <i class="bi bi-heart mx-2"></i>
        <i class="bi bi-search"></i>
        <p>{{ post.caption }}</p>
      </div>
    </div>
    {% endfor %}
  </section>
  <!-- End About Section -->
</main>

{% endblock %}
